<app-sidenav>
  <div class="search-asteroids">
    <h1 class="search-asteroids-title">
      {{'items.title' | translate }}
    </h1>
    <p class="search-asteroids-subtitle">
      {{'items.subtitle' | translate}}
    </p>
    <form class="asteroids-form">
      <mat-form-field class="asteroids-search-field">
        <mat-label>{{'items.text-input' | translate}}</mat-label>
        <input class="asteroids-search-input" matInput type="text" placeholder="Ex: 2015 TX237" name="asteroid"
          [(ngModel)]="asteroidsSearchFilter" />
      </mat-form-field>
    </form>
  </div>
  <div class="filter-items">
    <button class="filter-btn" matButton [matMenuTriggerFor]="menu">{{'items.filter.title' | translate}}</button>
    <mat-menu class="filter-options" #menu="matMenu">
      <button mat-menu-item class="filter-btn-item" (click)="setFilter('hazardous')">
        {{'filter.hazardous' | translate}}
      </button>
      <button mat-menu-item class="filter-btn-item" (click)="setFilter('')">{{'filter.clear' | translate}}</button>
    </mat-menu>
    <div class="slider">
      <p class="slider-title">{{'items.velocity-slide' | translate}}</p>

      <mat-slider [max]="sliderMax" [min]="sliderMin" [step]="sliderStep">
        <input matSliderThumb [(ngModel)]="value" #slider />
      </mat-slider>
      <p class="slider-value">{{ value }} km / h</p>
    </div>
  </div>
  <section class="search-items">
    @if (loading) {
    <mat-spinner></mat-spinner>
    } @else if (!loading && errorLoadingApi) {
    <div class="no-items-found">
      <p>{{'items.error-message' | translate}}</p>
    </div>
    } @else if (
    (asteroidsArray | itemsSearch: asteroidsSearchFilter : selectedFilter : value).length === 0
    ) {
    <div class="no-items-found">
      <p>{{'items.error-message' | translate}}</p>
    </div>
    } @else {
    @for (
    asteroid of asteroidsArray | itemsSearch: asteroidsSearchFilter : selectedFilter : value;
    track asteroid.name
    ) {
    <div class="item-card">
      <h2 class="card-title">
        {{ asteroid.name }}
      </h2>
      <div class="card-row">
        <p class="card-label">{{'items.cards.diameter' | translate}}</p>
        <p class="card-value">
          {{ asteroid.minDiameter }} mts - {{ asteroid.maxDiameter }} mts
        </p>
      </div>

      <div class="card-row">
        <p class="card-label">{{'items.cards.hazardous.title' | translate}}</p>
        @if (asteroid.hazardous) {
        <p class="hazard-level hazard-yes">{{'items.cards.hazardous.high' | translate}}</p>
        } @else {
        <p class="hazard-level hazard-no">{{'items.cards.hazardous.low' | translate}}</p>
        }
      </div>

      <div class="card-row">
        <p class="card-label">{{'items.cards.approach' | translate}}</p>
        <p class="card-value">
          {{ asteroid.approachDate || 'No data' }}
        </p>
      </div>

      <div class="card-row">
        <p class="card-label">{{'items.cards.velocity' | translate}}</p>
        <p class="card-value">{{ asteroid.velocity }} km / h</p>
      </div>

      <div class="card-row">
        <p class="card-label">{{'items.cards.orbiting-body' | translate}}</p>
        <p class="card-value">
          {{ asteroid.orbitingBody }}
        </p>
      </div>
    </div>
    }
    }
  </section>
</app-sidenav>