<!-- <mat-button-toggle-group class="translation-options">
    @for (lang of languagesOption; track lang) {
    <mat-button-toggle class="language-button" (click)="translateService.switchLanguage(lang)">
        {{lang}}
    </mat-button-toggle>
    }
</mat-button-toggle-group> -->
<section class="translation-options">
    @for (lang of languagesOption; track lang) {
    <div class="language-item">
        <button class="language-button" (click)="translateService.switchLanguage(lang)">
            {{lang}}
        </button>
    </div>
    }
</section>