.translation-options {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  overflow: hidden;
  border-radius: 0.5rem;
}

.language-button {
  width: 100%;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  /* border-radius: 0.5rem; */
}

.language-button:hover,
.language-button:focus {
  background-color: var(--accent-color);
}
