.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1.5px solid var(--secondary-color);
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidenav-menu {
  display: none;
}

.menu-icon {
  color: var(--text-color);
}

.menu-icon:hover {
  background-color: var(--accent-color);
}

.lang-options {
  position: absolute;
  right: 0.5rem;
}

.brand-logo {
  width: 3rem;
  height: auto;
}

.brand-title {
  font-family: var(--title-font), sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.brand-lema {
  display: none;
}

@media (min-width: 768px) {
  .header {
    position: static;
  }

  .sidenav-menu {
    display: flex;
    position: absolute;
    left: 0.5rem;
  }

  .lang-options {
    position: absolute;
    right: 0.5rem;
  }

  .brand-title {
    padding-right: 1rem;
    border-right: 0.1rem solid var(--accent-color);
  }

  .brand-lema {
    display: flex;
    font-size: 1rem;
    letter-spacing: 0.15em;
    margin-right: 3rem;
  }
}
